In [4]:
#librerias comunes
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#transformar datos
from sklearn.preprocessing import StandardScaler

In [5]:
datos = pd.read_csv("cardio_train_normalizado.csv", delimiter=",")
df = pd.DataFrame(datos)

In [6]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,2,52,1,165,64.0,130,70,3,1,0,0,0,1
3,3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,4,48,1,156,56.0,100,60,1,1,0,0,0,0

In [49]:
variables_numericas = datos[['age','gender','height','weight','ap_hi','ap_lo','cholesterol','gluc','smoke','alco','active']]

In [50]:
variables_numericas.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,50,2,168,62.0,110,80,1,1,0,0,1
1,55,1,156,85.0,140,90,3,1,0,0,1
2,52,1,165,64.0,130,70,3,1,0,0,0
3,48,2,169,82.0,150,100,1,1,0,0,1
4,48,1,156,56.0,100,60,1,1,0,0,0

In [52]:
#nombres de las columnas
nuevas_columnas = {0:'age',1:'gender',2:'height',3:'weight',4:'ap_hi',5:'ap_lo',6:'cholesterol',7:'gluc',8:'smoke',9:'alco',10:'active'}

In [53]:
#escalar datos
scaler = StandardScaler()
variables_normalizadas = scaler.fit_transform(variables_numericas)

In [55]:
df_n = pd.DataFrame(variables_normalizadas)
df_n.rename(columns=nuevas_columnas, inplace=True)

In [56]:
df_n

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,-0.488624,1.364055,0.443452,-0.847873,-0.122182,-0.088238,-0.539322,-0.395720,-0.310879,-0.238384,0.494167
1,0.251008,-0.733108,-1.018168,0.749831,0.072610,-0.035180,2.400793,-0.395720,-0.310879,-0.238384,0.494167
2,-0.192771,-0.733108,0.078047,-0.708942,0.007679,-0.141297,2.400793,-0.395720,-0.310879,-0.238384,-2.023607
3,-0.784477,1.364055,0.565254,0.541435,0.137541,0.017879,-0.539322,-0.395720,-0.310879,-0.238384,0.494167
4,-0.784477,-0.733108,-1.018168,-1.264666,-0.187113,-0.194356,-0.539322,-0.395720,-0.310879,-0.238384,-2.023607
...,...,...,...,...,...,...,...,...,...,...,...
69995,-0.044845,1.364055,0.443452,0.124642,-0.057251,-0.088238,-0.539322,-0.395720,3.216684,-0.238384,0.494167
69996,1.286492,-0.733108,-0.774565,3.597913,0.072610,-0.035180,0.930735,1.351719,-0.310879,-0.238384,0.494167
69997,-0.192771,1.364055,2.270477,2.139139,0.332333,-0.035180,2.400793,-0.395720,-0.310879,4.194906,-2.023607
69998,1.138566,-0.733108,-0.165556,-0.153219,0.040145,-0.088238,-0.539322,1.351719,-0.310879,-0.238384,-2.023607
69999,0.398934,-0.733108,0.687055,-0.153219,-0.057251,-0.088238,0.930735,-0.395720,-0.310879,-0.238384,0.494167

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [59]:
data = df_n[['age','gender','height','weight','ap_hi','ap_lo','cholesterol','gluc','smoke','alco','active']]
target = df['cardio']

In [60]:
target

0        0
1        1
2        1
3        1
4        0
        ..
69995    0
69996    1
69997    1
69998    1
69999    0
Name: cardio, Length: 70000, dtype: int64

In [61]:
#separacion de los datos, en datos de entrenamiento y prueba
X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size=0.25, random_state=25)

In [151]:
#modelo
modelo = RandomForestClassifier(n_estimators=500, max_depth=10, min_samples_split=10, random_state=25)

In [152]:
#entrenamiento
modelo.fit(X_train, Y_train)

RandomForestClassifier(max_depth=10, min_samples_split=10, n_estimators=500,
                       random_state=25)

In [153]:
#prediccion
y_pred = modelo.predict(X_test)

In [154]:
#evaluacion de la precision
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(Y_test,y_pred)
print('La precision del modelo es ', accuracy)

La precision del modelo es  0.7362857142857143